<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>do_an2022.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login-User</url-pattern>
  </servlet-mapping>
  <display-name>do_an2022</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdminServlet</display-name>
    <servlet-name>LoginAdminServlet</servlet-name>
    <servlet-class>do_an2022.servlet.LoginAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminServlet</servlet-name>
    <url-pattern>/Login-Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>do_an2022.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Log-out</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TongtienServlet</display-name>
    <servlet-name>TongtienServlet</servlet-name>
    <servlet-class>do_an2022.servlet.TongtienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TongtienServlet</servlet-name>
    <url-pattern>/Tong-tien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncDecServlet</display-name>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <servlet-class>do_an2022.servlet.QuantityIncDecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <url-pattern>/QuantityIncDec</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderNowServlet</display-name>
    <servlet-name>OrderNowServlet</servlet-name>
    <servlet-class>do_an2022.servlet.OrderNowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderNowServlet</servlet-name>
    <url-pattern>/Order-Now</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtocartServlet</display-name>
    <servlet-name>AddtocartServlet</servlet-name>
    <servlet-class>do_an2022.servlet.AddtocartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtocartServlet</servlet-name>
    <url-pattern>/Add-to-cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLichGTServlet</display-name>
    <servlet-name>AddLichGTServlet</servlet-name>
    <servlet-class>do_an2022.servlet.AddLichGTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLichGTServlet</servlet-name>
    <url-pattern>/Add-LichGT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddlichGtServlet</display-name>
    <servlet-name>AddlichGtServlet</servlet-name>
    <servlet-class>do_an2022.servlet.AddlichGtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddlichGtServlet</servlet-name>
    <url-pattern>/Add-lichGt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>do_an2022.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/Add-User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdduserServlet</display-name>
    <servlet-name>AdduserServlet</servlet-name>
    <servlet-class>do_an2022.servlet.AdduserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdduserServlet</servlet-name>
    <url-pattern>/Add-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddlichServlet</display-name>
    <servlet-name>AddlichServlet</servlet-name>
    <servlet-class>do_an2022.servlet.AddlichServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddlichServlet</servlet-name>
    <url-pattern>/Add-lich</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddnhanxetServlet</display-name>
    <servlet-name>AddnhanxetServlet</servlet-name>
    <servlet-class>do_an2022.servlet.AddnhanxetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddnhanxetServlet</servlet-name>
    <url-pattern>/Add-nhanxet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddnhanXetServlet</display-name>
    <servlet-name>AddnhanXetServlet</servlet-name>
    <servlet-class>do_an2022.servlet.AddnhanXetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddnhanXetServlet</servlet-name>
    <url-pattern>/Add-nhan-Xet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddproductServlet</display-name>
    <servlet-name>AddproductServlet</servlet-name>
    <servlet-class>do_an2022.servlet.AddproductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddproductServlet</servlet-name>
    <url-pattern>/Add-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteproductServlet</display-name>
    <servlet-name>deleteproductServlet</servlet-name>
    <servlet-class>do_an2022.servlet.deleteproductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteproductServlet</servlet-name>
    <url-pattern>/delete-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addproductGTServlet</display-name>
    <servlet-name>addproductGTServlet</servlet-name>
    <servlet-class>do_an2022.servlet.addproductGTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addproductGTServlet</servlet-name>
    <url-pattern>/add-productGT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteproductGTServlet</display-name>
    <servlet-name>deleteproductGTServlet</servlet-name>
    <servlet-class>do_an2022.servlet.deleteproductGTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteproductGTServlet</servlet-name>
    <url-pattern>/delete-productGT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>huydonServlet</display-name>
    <servlet-name>huydonServlet</servlet-name>
    <servlet-class>do_an2022.servlet.huydonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>huydonServlet</servlet-name>
    <url-pattern>/huy-don</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HuydonServlet</display-name>
    <servlet-name>HuydonServlet</servlet-name>
    <servlet-class>do_an2022.servlet.HuydonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HuydonServlet</servlet-name>
    <url-pattern>/Huy-don</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteDonhangServlet</display-name>
    <servlet-name>deleteDonhangServlet</servlet-name>
    <servlet-class>do_an2022.servlet.deleteDonhangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDonhangServlet</servlet-name>
    <url-pattern>/delete-Donhang</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addtraloiServlet</display-name>
    <servlet-name>addtraloiServlet</servlet-name>
    <servlet-class>do_an2022.servlet.addtraloiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtraloiServlet</servlet-name>
    <url-pattern>/add-traloi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletenhanxetServlet</display-name>
    <servlet-name>deletenhanxetServlet</servlet-name>
    <servlet-class>do_an2022.servlet.deletenhanxetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletenhanxetServlet</servlet-name>
    <url-pattern>/delete-nhanxet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletetraloiServlet</display-name>
    <servlet-name>deletetraloiServlet</servlet-name>
    <servlet-class>do_an2022.servlet.deletetraloiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletetraloiServlet</servlet-name>
    <url-pattern>/delete-traloi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addnhanvienServlet</display-name>
    <servlet-name>addnhanvienServlet</servlet-name>
    <servlet-class>do_an2022.servlet.addnhanvienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addnhanvienServlet</servlet-name>
    <url-pattern>/add-nhanvien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletenhanvienServlet</display-name>
    <servlet-name>deletenhanvienServlet</servlet-name>
    <servlet-class>do_an2022.servlet.deletenhanvienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletenhanvienServlet</servlet-name>
    <url-pattern>/delete-nhanvien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addthongbaoServlet</display-name>
    <servlet-name>addthongbaoServlet</servlet-name>
    <servlet-class>do_an2022.servlet.addthongbaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addthongbaoServlet</servlet-name>
    <url-pattern>/add-thongbao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteTBServlet</display-name>
    <servlet-name>deleteTBServlet</servlet-name>
    <servlet-class>do_an2022.servlet.deleteTBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteTBServlet</servlet-name>
    <url-pattern>/delete-TB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xoathongbaoServlet</display-name>
    <servlet-name>xoathongbaoServlet</servlet-name>
    <servlet-class>do_an2022.servlet.xoathongbaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xoathongbaoServlet</servlet-name>
    <url-pattern>/xoa-thongbao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletelichServlet</display-name>
    <servlet-name>deletelichServlet</servlet-name>
    <servlet-class>do_an2022.servlet.deletelichServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletelichServlet</servlet-name>
    <url-pattern>/delete-lich</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xoakhoiGHServlet</display-name>
    <servlet-name>xoakhoiGHServlet</servlet-name>
    <servlet-class>do_an2022.servlet.xoakhoiGHServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xoakhoiGHServlet</servlet-name>
    <url-pattern>/xoa-khoiGH</url-pattern>
  </servlet-mapping>
</web-app>